<!DOCTYPE html> 
<html>
<head>
    <title>My Pets</title>
        
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     </head>


<body>
    <header> 
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('add_pet') }}">Add Pet</a></li>
                <li><a href="{{ url_for('my_pets')}} ">My Pets</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>  
                    {% if username == None %}
                    <li> Not logged in</li>
                    {% else %}
                    <li> Logged in as: {{ username }}</li>
                    {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
           </ul>
        </nav>
    </header>
    <h1>My Pets</h1>
    <p>My pets:</p>
        <div class = 'pet-card'>
            {% for pets in pets %}
            <h2>{{pets [1]}}</h2>
            <img src = "static/images/{{ pets [0] }}/image1.jpg" alt = "Error">
            {% for p in interested_users %}
            <p>{{p[0]}} is interested in {{pets[1]}}, their number is {{p[1]}}</p>
            {% endfor %}
    {% endfor %}
</body>
</html>

