<!DOCTYPE html> 
<html>
<head>
    <title>My Pets</title>
        
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     </head>


<body>
    <header> 
        <nav>
            <ul>
                <li><a href = "index.html">Home</a></li>
                <li><a href = "my_pets.html">My Pets</a></li>
                <li><a href = "add_pet.html">Add Pet</a></li>
                <li><a href = "interested_users.html">Interested Users</a></li>
            </ul>
        </nav>
    </header>
    <h1>My Pets</h1>
    <p>My pets:</p>
        <div class = 'pet-card'>
            {% for pets in pets %}
            <h2>{{pets [1]}}</h2>
            <img src = "static/images/{{ pets [0] }}/image1.jpg" alt = "Error">
            {% for p in interested_users %}
            <p>{{p[0]}} is interested in {{pets[1]}}, their number is {{p[1]}}</p>
            {% endfor %}
    {% endfor %}
</body>
</html>

